body,
html {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: white;
  border-radius: 45px;
  margin-top: 5em;
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 5em;
  display: grid;
  grid-column: auto;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-column: auto;
  align-items: center;
  justify-content: center;
}

#placeholder-text-box {
  width: 195px;
}
.grid-row {
  justify-content: center;
  display: flex;
}
#flag-icon {
  max-width: 5rem;
}
